<div class="row">
  <div class="col-12">
    <div class="card border-0">
      <div class="card-body p-0">
        <div class="row text-center">
          <div class="col-4 ">
            <p class="mb-0 ">assign</p>
            <i class="material-icons text-danger">lens</i>
          </div>
          <div class="col-4">
            <p class="mb-0 text-center">doing</p>
            <i class="material-icons text-warning">lens</i>
          </div>
          <div class="col-4">
            <p class="mb-0 text-center">done</p>
            <i class="material-icons text-success">lens</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
