<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">My todo</a>
    <button class="navbar-toggler hidden-sm-up border-0" style="outline: none;" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="this.authService.isAdmin()" routerLinkActive="active">
          <a class="nav-link" style="cursor: pointer;" [routerLink]="['/tasks']">Tasks</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isAdmin()" routerLinkActive="active">
          <a class="nav-link" style="cursor: pointer;" [routerLink]="['/employees']">Employees</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isUser() && !this.authService.isAdmin()" routerLinkActive="active">
          <a class="nav-link" style="cursor: pointer;" [routerLink]="['/employee-profile']">Profile</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!this.authService.isUser()" routerLinkActive="active">
          <a class="nav-link" style="cursor: pointer;" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isUser()" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" [routerLink]="['/login']" (click)="this.authService.logOut()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
