<div class="row mb-4">
  <div class="col-12">
    <div class="card border-0 rounded-lg shadow-sm">
      <div class="card-header bg-dark text-white border-0 rounded-0 text-center">Task form</div>
      <div class="card-body">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-danger border-0 mb-3 rounded-sm" *ngIf="errorMessage">{{this.errorMessage}}</div>
              <div class="form-group">
                <label for="task-name">Name</label>
                <input type="text" id="task-name" class="form-control shadow-sm rounded-sm" formControlName="name">
                <span class="text-danger" *ngIf="isEmptyField('name')">Invalid name</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="task-description">Description</label>
                <textarea id="task-description" class="form-control shadow-sm rounded-sm" rows="4" formControlName="description"></textarea>
                <span class="text-danger" *ngIf="isEmptyField('description')">Invalid description</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="task-deadline">Deadline</label>
                <input id="task-deadline" type="date" class="form-control shadow-sm rounded-sm" min="{{currentDate}}" formControlName="deadline">
                <span class="text-danger" *ngIf="isEmptyField('deadline')">Invalid deadline</span>
              </div>
            </div>
          </div>
          <div class="row mb-3 mt-1">
            <div class="col-12">
              <label>Employee</label>
              <br>
              <div class="d-inline-block w-100">
                <!--display employee list if not in edit mode, otherwise display employee list in edit-->
                <select class="btn rounded-sm form-control shadow-sm" *ngIf="!editMode"
                        style="border: 1px solid #dee2e6;" (ngModelChange)="onAssignEmployee($event)" formControlName="employee">
                  <option *ngFor="let employee of employeeList" [ngValue]="employee">{{employee.name}}</option>
                </select>
                <select class="btn rounded-sm form-control shadow-sm" *ngIf="editMode"
                        style="border: 1px solid #dee2e6;" (ngModelChange)="onAssignEmployee($event)" formControlName="employee">
                  <option *ngFor="let employee of employeeListInEdit" [ngValue]="employee">{{employee.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary rounded-sm mt-1 w-100">{{editMode ? 'Update task' : 'Create task'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
