<div class="row justify-content-center mb-4">
  <div class="col-md-7">
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive shadow-sm rounded-lg">
          <table class="table table-borderless table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Task</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employeeList; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.task === null ? '' : employee.task.name}}</td>
              <td>
                <a (click)="onDeleteEmployee(employee.id)" *ngIf="employee.id !== 1; else notShow">
                  <i class="material-icons" style="font-size: 1rem; cursor: pointer;">clear</i>
                </a>
                <ng-template #notShow></ng-template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

