<div class="row mt-4">
  <div class="col-12">
    <div class="table-responsive shadow-lg">
      <table class="table table-borderless table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Task</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.task === null ? '' : employee.task.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
