<div class="row justify-content-center mb-4">
  <div class="col-xl-6 col-lg-7 col-md-7">
    <div class="row">
      <div class="col-12">
        <div class="card shadow-sm border-0 rounded-lg">
          <div class="card-header bg-dark border-0 rounded-0 text-white">Login form</div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-danger mb-3 border-0 rounded-sm" *ngIf="errorMessage">{{this.errorMessage}}</div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" formControlName="username" class="form-control shadow-sm rounded-sm">
                    <span class="text-danger" *ngIf="isEmptyField('username')">Invalid username</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" autocomplete="off" class="form-control shadow-sm rounded-sm">
                    <span class="text-danger" *ngIf="isEmptyField('password')">Invalid password</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary rounded-sm mt-1" type="submit">Login</button>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <small class="text-muted">Need an account? <a [routerLink]="['/register']">Register</a></small>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
