<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="row">
      <div class="col-12">
        <div class="card rounded-0 shadow-lg border-0">
          <div class="card-header bg-dark border-0 text-white rounded-0">Login form</div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" formControlName="username" class="form-control rounded-0 border">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" autocomplete="off" class="form-control rounded-0 border">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary rounded-0 mt-1" type="submit">Login</button>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <small class="text-muted">Need an account? <a [routerLink]="['/register']">Register</a></small>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
