<div class="modal-content rounded-lg">
  <div class="modal-header rounded-0 border-0 bg-dark text-white p-0">
    <p style="margin-top: 0.8rem;" class="px-3">Edit account</p>
    <button type="button" style="outline:none;margin-top:0.5rem;" class="btn float-right bg-transparent" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="material-icons text-white" style="font-size: 20px;">clear</i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onUpdate()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Full name</label>
            <input type="text" id="name" formControlName="name" class="form-control rounded-sm shadow-sm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control rounded-sm shadow-sm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary rounded-sm mt-1 mb-1">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
