/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.form-control:focus {
  border-color: #007BFF;
  box-shadow: none !important;
}

.modal-content {
  border: 0 !important;
  border-radius: .25rem !important;
}

.close {
  text-shadow: none !important;
  opacity: 100% !important;
  font-weight: inherit;
}
