/* You can add global styles to this file, and also import other style files */

$gray-100: #f8f9fa;
$gray-700: #495057;
$gray-900: #212529;
$green: #38A169;
$blue: #5A67D8;
$cyan: #63B3ED;
$yellow: #F6E05E;
$dark: $gray-900;
$pink: rgb(233, 30, 99);
$red: #E53E3E;
$orange: #DD6B20;
$border-radius: .3rem;
$border-radius-lg: .4rem;
$border-color: $gray-100;

$primary: $blue;
$secondary: $gray-700;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;


.form-control {
  &:focus {
    box-shadow: none !important;
    /* your new styles */
    border: 1px solid $primary;
  }
}

.modal-content {
  border: 0 !important;
  border-radius: .25rem !important;
}

.close {
  text-shadow: none !important;
  opacity: 100% !important;
  font-weight: inherit;
}

@import "~node_modules/bootstrap/scss/bootstrap";
